body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background-color: #343a40 !important;
}

.question {
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.centered {
  text-align: center;
}

.shadow-lg-ultra {
  box-shadow: 0 6rem 2rem rgba(0, 0, 0, 0.275) !important;
}

.circle {
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .circle {
    width: 250px;
    height: 250px;
  }

  .question {
    font-size: 1.2em;
  }
}
